@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@200&family=Lato:wght@300&family=Nunito:wght@200;300&family=Open+Sans:wght@300&family=Roboto+Condensed:wght@600&family=Roboto:wght@100;300;400&display=swap');

//Paleta de Colores
$colorprimario: #C70C1D;
$colortext: white;
$colortext2: grey;

//Fuentes
$fontstitles: 'Roboto Condensed', sans-serif;
$fontstext: 'Roboto', sans-serif;

//Imagenes
$arcoiris: url(../multimedia/arcoiris.jpg);
$background: url(../multimedia/back.jpg);
$background2: url(../multimedia/background.jpg);
$ubicacion: url(../multimedia/ubi.jpg);
$redes: url(../multimedia/redessociales.jpg);
$recursos: url(../multimedia/recursosdigitales.jpg);
$topventas: url(../multimedia/topventas.jpg);
$toppelis: url(../multimedia/toppeliculas.jpg);
$topseries: url(../multimedia/topseries.jpg);
$comprasback: url(../multimedia/comprasback2.jpg);


@mixin direccion ($dsp, $flexd, $justify, $align) {
    display: $dsp;
    flex-direction: $flexd;
    justify-content: $justify;
    align-items: $align;
}

@mixin boton ($width, $height, $fonttam, $lspace, $borrad, $bor) {
    width: $width;
    height: $height;
    font-size: $fonttam;
    letter-spacing: $lspace;
    border-radius: $borrad;
    border: $bor;
}

*   {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body    {
    background-color: black;
    font-family: $fontstext;
    color: $colortext;
}

a   {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

h1, h2, h3, h4, h5  {
    font-family: $fontstitles;
}

video   {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 65px;
}
/* -----COMIENZA EL HEADER y NAV----- */
.nav-container  {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: bold;
    color: white;
}

.logo img   {
    margin-left: 8px;
    width: 40px;
    height: 40px;
}

.navbar-toggler {
    border: none;
}

.nav-titles {
    @include direccion (flex, row, flex-start, center);
    margin-left: 15px;
}
/* -----INDEX - COMIENZA EL MAIN----- */
.main-container  {
    height: 550px;
    letter-spacing: 1px;
    background-image: linear-gradient(345deg, rgba(3,0,0,1)45%, rgba(255,255,255,0.1)80%), $background;
}

.main-principal {
    height: auto;

        h1  {
            padding-top: 100px;
            font-size: 40px;
        }

        p   {
            padding-top: 70px;
        }
}

.button-main    {
    @include boton (140px, 40px, 15px, 1px, 8px, 1px solid #C70C1D);
    background: linear-gradient(to right, rgba(199, 12, 29, 0.3) 1%, transparent 40%,transparent 60% , rgba(199, 12, 29, 0.3) 100%);
}

.button-main:hover  {
    box-shadow: inset 0 0 10px rgba(227, 39, 35, 1), 0 0 9px 3px rgba(227, 39, 35, 0.7);
}

.main-secundario    {
    display: none;

        img     {
            display: none;
        }
}
/* -----COMIENZA EL SECTION - INDEX----- */
.section-main   {
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}

.card-one {
    @include direccion (flex, column, space-evenly, center);
    height: auto;
    border-radius: 10px;
    background-image: $arcoiris;
}

.card-one:hover{
    scale: 0.9;
    transition: 1.5s;
    animation: ease-in-out;
}

.centrado-container {
    @include direccion (flex, row, space-evenly, center);
}

.card-one-titles    {
    @include direccion (flex, column, center, center);
    letter-spacing: 0.5px;

        h2  {
            padding: 20px;
            text-transform: uppercase;
        }

        p   {
            font-size: 15px;
        }
}

.card-one-img   {
    @include direccion (flex, row, center, center);
    padding-bottom: 20px;

        img {
            border-radius: 4%;
        }
}
/* -----COMIENZA PAGE NOSOTROS----- */
.main_general_about	{
    min-height: 70vw;
    background-image: linear-gradient(345deg, rgba(3,0,0,0.7)100%, rgba(255,255,255,0.1)0%), $background2;

    .main_general_con	{
        @include direccion(flex, column, space-around, center);
        padding-top: 75px;

        .main_about_left	{
            @include direccion(flex, column, center, center);
            padding: 10px;
            text-align: center;
            letter-spacing: 1px;

            h1  {
                margin-right: 55px;
                font-size: 30px;
                text-transform: uppercase;
            }

            h2  {
                margin-left: 65px;
                font-size: 30px;
                text-transform: uppercase;
            }

            p   {
                padding-top: 40px;
            }

            button  {
                color: $colortext;
            }
        }

        .main_about_rigth   {
            @include direccion(flex, column, center, center);
            text-align: center;
            padding: 10px;

            p   {
                color: $colortext2;
            }
        }
    }
}
.main_section_gen   {
    padding-top: 10px;
}
.main_section_con	{
    @include direccion (flex, column, center, center);

    .section_con_left	{
        @include direccion (flex, column, center, center);
        height: 250px;
        padding: 10px;
        margin-bottom:  10px;
        background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $ubicacion;
        border-radius: 10px;
    }

    .section_con_rigth	{
        padding: 0px;
    }
}

.center_flex  {
        @include direccion (flex, column, center, center);
}

.section_con_rigthone	{
    @include direccion (flex, column, space-evenly, center);
    height: 250px;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $redes;
    border-radius: 10px;
}

.section_con_rigthone h5    {
    padding-top: 15px;
}

.section_con_rigthtwo	{
    @include direccion (flex, column, center, center);
    height: 250px;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $recursos;
    border-radius: 10px;
}

.section_con_rigthtwo h5    {
    padding-top: 15px;
}
/* -----COMIENZA PAGE EVENTO----- */
.main_event_gen {
    @include direccion (flex, column, center, center);
    padding-top: 75px;
    min-height: 60vw;

    .main_event_con {
        @include direccion (flex, column, center, center);
        padding: 10px;
        text-align: center;
        letter-spacing: 1px;
    }

    h1  {
        padding: 10px;
    }

    p   {
        padding-top: 20px;
    }

    img {
        padding: 10px;
        height: 280px;
        object-fit: contain;
    }

    .buttons-div {
        @include direccion (flex, row, space-evenly, center);
        padding: 10px;
    }

    .button-event   {
        @include boton (45%, 40px, 12px, 1px, 8px, 1px solid #C70C1D);
        background: linear-gradient(to right, rgba(199, 12, 29, 0.3) 1%, transparent 40%,transparent 60% , rgba(199, 12, 29, 0.3) 100%);
        color: $colortext;
    }

    .button-event:hover  {
        box-shadow: inset 0 0 10px rgba(227, 39, 35, 1), 0 0 9px 3px rgba(227, 39, 35, 0.7);
    }
}

.main_section_event  {
    padding-top: 10px;
}
.section_event_con	{
    @include direccion (flex, column, center, center);

    .section_event_con_left	{
        @include direccion (flex, column, center, center);
        height: 310px;
        padding: 10px;
        margin-bottom:  10px;
        text-align: center;
        font-weight: bold;
        background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $topventas;
        background-position: top;
        border-radius: 10px;
    }

    .section_con_rigth	{
        padding: 0px;
    }
}

.center_flex  {
        @include direccion (flex, column, center, center);
}

.section_event_con_rigthone	{
    @include direccion (flex, column, flex-start, center);
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $toppelis;
    border-radius: 10px;
}

.section_event_con_rigthtwo	{
    @include direccion (flex, column, flex-start, center);
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $topseries;
    border-radius: 10px;
}

.main_event_section {
    @include direccion (flex, column, center, center);
    padding: 20px;

    h2  {
        padding-bottom: 10px;
    }

    .main_event_section_con {
        @include direccion (flex, row, center, center);
        padding: 15px;
        text-align: center;
        background-image: $arcoiris;
        border-radius: 15px;
    }
}

.card_event_img_con {
    height: 300px;
    border-radius: 10px;
}
/* -----COMIENZA PAGE GUIA----- */
.section_guide_gen  {
    @include direccion (flex, row, center, center);
    min-height: 60vw;

    h1, h2, h3 {
        font-size: 30px;
        padding: 5px;
    }
}

.guia_box   {
    @include direccion (flex, column, center, center);
    padding: 10px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    background-image: $arcoiris;

    img {
        height: 300px;
        border-radius: 10px;
        object-fit: contain;
    }

    div   {
        text-align: center;
        padding: 10px;
    }
}
/* -----COMIENZA PAGE COMPRA----- */
.main_comprar   {
    @include direccion (flex, column, center, center);
    min-height: 60vw;
    padding-top: 75px;

    .clubdelcomic   {
        @include direccion (flex, column, center, center);
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 10px;
        background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $comprasback;

        h1, h2  {
            font-size: 30px;
            padding: 10px;
        }

        img {
            width: 300px;
            height: 250px;
            margin: 10px;
            border-radius: 10px;
            object-fit: cover;
        }

        button  {
            color: $colortext;
        }
    }
}
/* -----COMIENZA EL FOOTER----- */
.footer-container   {
    @include direccion (flex, column, center, center);
    height: 80px;
    color: gray;
    background-color: $colortext;
}

.icons-footer   {
    @include direccion (flex, row, space-around, center);
    width: 120px;
    font-size: 20px;
    list-style: none;
}

.icons-footer a {
    text-decoration: none;
}
/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
    .main_general_about	{
        background-image: linear-gradient(345deg, rgba(3,0,0,0.7)100%, rgba(255,255,255,0.1)0%), $background2;
    
        .main_general_con	{
            @include direccion(flex, row, space-around, center);
            padding-top: 75px;
    
            .main_about_left	{
                @include direccion(flex, column, center, flex-start);
                padding: 10px;
                text-align: left;
    
                h1  {
                    margin-right: 55px;
                    font-size: 35px;
                }
    
                h2  {
                    margin-left: 65px;
                    font-size: 35px;
                }
    
                p   {
                    padding-top: 40px;
                }
            }
    
            .main_about_rigth   {
                @include direccion(flex, column, flex-end, center);
                text-align: center;
                padding: 10px;
    
                p   {
                    color: $colortext2;
                }
            }
        }
    }

    .center_flex   {
        @include direccion (flex, row, space-evenly, center);
    }

    .section_con_rigthone	{
        @include direccion (flex, column, center, center);
        height: 120px;
        padding: 10px;
        margin-bottom: 10px;
        background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $redes;
        border-radius: 10px;
    }

    .section_con_rigthtwo	{
        @include direccion (flex, column, center, center);
        height: 120px;
        padding: 10px;
        margin-bottom: 10px;
        background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $recursos;
        border-radius: 10px;
    }
}

@media screen and (min-width: 768px){
    .logo img   {
        margin-left: 0px;
        width: 40px;
        height: 40px;
    }

    .nav-titles {
        @include direccion (flex, row, flex-end, center);
        margin-left: 15px;
    }

    .main-principal h1  {
        padding-top: 100px;
        font-size: 45px;
    }

    .card-one {
        @include direccion (flex, column, space-evenly, center);
        height: 250px;
        border-radius: 10px;
        background-image: $arcoiris;
    }

    .card-one-img   {
        @include direccion (flex, row, center, center);
        width: 220px;
        height: 220px;
    }

    .card-one-img   {
        @include direccion (flex, row, center, center);
        padding-bottom: 0px;
    }

    .main_general_about	{
        background-image: linear-gradient(345deg, rgba(3,0,0,0.7)100%, rgba(255,255,255,0.1)0%), $background2;
    
        .main_general_con	{
            @include direccion(flex, row, space-around, center);
            padding-top: 75px;
    
            .main_about_left	{
                @include direccion(flex, column, center, flex-start);
                height: 500px;
                padding: 10px;
                text-align: left;
    
                h1  {
                    margin-right: 55px;
                    font-size: 35px;
                }
    
                h2  {
                    margin-left: 65px;
                    font-size: 35px;
                }
    
                p   {
                    padding-top: 40px;
                }
            }
    
            .main_about_rigth   {
                @include direccion(flex, column, center, center);
                text-align: center;
                padding: 10px;
                padding-top: 86px;
    
                p   {
                    color: $colortext2;
                }
            }
        }
    }

    .guia_box   {
        @include direccion (flex, row, space-evenly, center);
        padding: 10px;
        height: auto;
        margin-bottom: 10px;
        border-radius: 10px;
        background-image: $arcoiris;
    
        img {
            padding: 5px;
            height: 300px;
            border-radius: 10px;
            object-fit: contain;
        }
    
        div   {
            text-align: center;
            padding: 10px;
        }
    }
}

@media screen and (min-width: 992px){
    .main-container {
        display: flex;
        justify-content: center;
        height: 550px;
        background-image: none;
    }

    .main-secundario    {
        @include direccion (flex, row, center, center);
        padding-top: 120px;
        height: 390px;
        width: 50%;
    }

    .main-secundario img    {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 20%;
        object-fit: contain;
    }

    .main_general_about	{
        min-height: 50vw;
        background-image: linear-gradient(345deg, rgba(3,0,0,0.7)100%, rgba(255,255,255,0.1)0%), $background2;
    
        .main_general_con	{
            @include direccion(flex, row, space-around, center);
            padding-top: 75px;
    
            .main_about_left	{
                @include direccion(flex, column, center, flex-start);
                height: 500px;
                padding: 10px;
                text-align: left;
    
                h1  {
                    margin-right: 55px;
                    font-size: 35px;
                }
    
                h2  {
                    margin-left: 65px;
                    font-size: 35px;
                }
    
                p   {
                    padding-top: 40px;
                }
            }
    
            .main_about_rigth   {
                @include direccion(flex, column, center, center);
                text-align: center;
                padding: 10px;
                padding-top: 36px;
    
                p   {
                    color: $colortext2;
                }
            }
        }
    }

    .main_section_con	{
        @include direccion (flex, column, center, center);
        padding: 20px;
    
        .section_con_left	{
            @include direccion (flex, column, center, center);
            height: 390px;
            padding: 10px;
            margin-bottom:  10px;
            background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $ubicacion;
            border-radius: 10px;
        }
    
        .section_con_rigth	{
            padding: 0px;
        }
    }

    .section_con_rigthone	{
        @include direccion (flex, column, space-evenly, center);
        height: 190px;
        padding: 10px;
        margin-bottom: 10px;
        background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $redes;
        border-radius: 10px;
    }

    .section_con_rigthtwo	{
        @include direccion (flex, column, space-evenly, center);
        height: 190px;
        padding: 10px;
        margin-bottom: 10px;
        background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $recursos;
        border-radius: 10px;
    }

    .main_event_gen {
        @include direccion (flex, column, center, center);
        padding-top: 20px;
        min-height: 50vw;
    
        .main_event_con {
            @include direccion (flex, column, center, center);
            padding: 10px;
            text-align: center;
            letter-spacing: 1px;
        }
    
        h1  {
            padding: 10px;
        }
    
        p   {
            padding-top: 20px;
        }
    
        img {
            padding: 10px;
            height: 280px;
            object-fit: contain;
        }
    
        .buttons-div {
            @include direccion (flex, row, space-evenly, center);
            padding: 10px;
        }
    
        .button-event   {
            @include boton (45%, 40px, 12px, 1px, 8px, 1px solid #C70C1D);
            background: linear-gradient(to right, rgba(199, 12, 29, 0.3) 1%, transparent 40%,transparent 60% , rgba(199, 12, 29, 0.3) 100%);
            color: $colortext;
        }
    
        .button-event:hover  {
            box-shadow: inset 0 0 10px rgba(227, 39, 35, 1), 0 0 9px 3px rgba(227, 39, 35, 0.7);
        }
    }

    .main_comprar   {
        @include direccion (flex, column, center, center);
        min-height: 60vw;
        padding-top: 75px;
    
        .clubdelcomic   {
            @include direccion (flex, column, space-evenly, center);
            padding: 10px;
            height: 600px;
            margin-bottom: 20px;
            text-align: center;
            border-radius: 10px;
            background-image: linear-gradient(345deg, rgba(3,0,0,0.5)100%, rgba(255,255,255,0.1)0%), $comprasback;
    
            h1, h2  {
                font-size: 30px;
                padding: 10px;
            }
    
            img {
                width: 300px;
                height: 250px;
                margin: 10px;
                border-radius: 10px;
                object-fit: cover;
            }
    
            button  {
                color: $colortext;
            }
        }
    }
}