@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@200&family=Lato:wght@300&family=Nunito:wght@200;300&family=Open+Sans:wght@300&family=Roboto+Condensed:wght@600&family=Roboto:wght@100;300;400&display=swap");
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto Condensed", sans-serif;
}

video {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 65px;
}

/* -----COMIENZA EL HEADER y NAV----- */
.nav-container {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.navbar-dark .navbar-nav .nav-link {
  font-weight: bold;
  color: white;
}

.logo img {
  margin-left: 8px;
  width: 40px;
  height: 40px;
}

.navbar-toggler {
  border: none;
}

.nav-titles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
}

/* -----INDEX - COMIENZA EL MAIN----- */
.main-container {
  height: 550px;
  letter-spacing: 1px;
  background-image: linear-gradient(345deg, rgb(3, 0, 0) 45%, rgba(255, 255, 255, 0.1) 80%), url(../multimedia/back.jpg);
}

.main-principal {
  height: auto;
}
.main-principal h1 {
  padding-top: 100px;
  font-size: 40px;
}
.main-principal p {
  padding-top: 70px;
}

.button-main {
  width: 140px;
  height: 40px;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 8px;
  border: 1px solid #C70C1D;
  background: linear-gradient(to right, rgba(199, 12, 29, 0.3) 1%, transparent 40%, transparent 60%, rgba(199, 12, 29, 0.3) 100%);
}

.button-main:hover {
  box-shadow: inset 0 0 10px rgb(227, 39, 35), 0 0 9px 3px rgba(227, 39, 35, 0.7);
}

.main-secundario {
  display: none;
}
.main-secundario img {
  display: none;
}

/* -----COMIENZA EL SECTION - INDEX----- */
.section-main {
  height: auto;
  margin-bottom: 20px;
  text-align: center;
}

.card-one {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  border-radius: 10px;
  background-image: url(../multimedia/arcoiris.jpg);
}

.card-one:hover {
  scale: 0.9;
  transition: 1.5s;
  animation: ease-in-out;
}

.centrado-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card-one-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
}
.card-one-titles h2 {
  padding: 20px;
  text-transform: uppercase;
}
.card-one-titles p {
  font-size: 15px;
}

.card-one-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.card-one-img img {
  border-radius: 4%;
}

/* -----COMIENZA PAGE NOSOTROS----- */
.main_general_about {
  min-height: 70vw;
  background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.7) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/background.jpg);
}
.main_general_about .main_general_con {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 75px;
}
.main_general_about .main_general_con .main_about_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
}
.main_general_about .main_general_con .main_about_left h1 {
  margin-right: 55px;
  font-size: 30px;
  text-transform: uppercase;
}
.main_general_about .main_general_con .main_about_left h2 {
  margin-left: 65px;
  font-size: 30px;
  text-transform: uppercase;
}
.main_general_about .main_general_con .main_about_left p {
  padding-top: 40px;
}
.main_general_about .main_general_con .main_about_left button {
  color: white;
}
.main_general_about .main_general_con .main_about_rigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.main_general_about .main_general_con .main_about_rigth p {
  color: grey;
}

.main_section_gen {
  padding-top: 10px;
}

.main_section_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_section_con .section_con_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/ubi.jpg);
  border-radius: 10px;
}
.main_section_con .section_con_rigth {
  padding: 0px;
}

.center_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_con_rigthone {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
  padding: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/redessociales.jpg);
  border-radius: 10px;
}

.section_con_rigthone h5 {
  padding-top: 15px;
}

.section_con_rigthtwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/recursosdigitales.jpg);
  border-radius: 10px;
}

.section_con_rigthtwo h5 {
  padding-top: 15px;
}

/* -----COMIENZA PAGE EVENTO----- */
.main_event_gen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  min-height: 60vw;
}
.main_event_gen .main_event_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
}
.main_event_gen h1 {
  padding: 10px;
}
.main_event_gen p {
  padding-top: 20px;
}
.main_event_gen img {
  padding: 10px;
  height: 280px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main_event_gen .buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.main_event_gen .button-event {
  width: 45%;
  height: 40px;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 8px;
  border: 1px solid #C70C1D;
  background: linear-gradient(to right, rgba(199, 12, 29, 0.3) 1%, transparent 40%, transparent 60%, rgba(199, 12, 29, 0.3) 100%);
  color: white;
}
.main_event_gen .button-event:hover {
  box-shadow: inset 0 0 10px rgb(227, 39, 35), 0 0 9px 3px rgba(227, 39, 35, 0.7);
}

.main_section_event {
  padding-top: 10px;
}

.section_event_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_event_con .section_event_con_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 310px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/topventas.jpg);
  background-position: top;
  border-radius: 10px;
}
.section_event_con .section_con_rigth {
  padding: 0px;
}

.center_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_event_con_rigthone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/toppeliculas.jpg);
  border-radius: 10px;
}

.section_event_con_rigthtwo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/topseries.jpg);
  border-radius: 10px;
}

.main_event_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.main_event_section h2 {
  padding-bottom: 10px;
}
.main_event_section .main_event_section_con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  background-image: url(../multimedia/arcoiris.jpg);
  border-radius: 15px;
}

.card_event_img_con {
  height: 300px;
  border-radius: 10px;
}

/* -----COMIENZA PAGE GUIA----- */
.section_guide_gen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 60vw;
}
.section_guide_gen h1, .section_guide_gen h2, .section_guide_gen h3 {
  font-size: 30px;
  padding: 5px;
}

.guia_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-image: url(../multimedia/arcoiris.jpg);
}
.guia_box img {
  height: 300px;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.guia_box div {
  text-align: center;
  padding: 10px;
}

/* -----COMIENZA PAGE COMPRA----- */
.main_comprar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vw;
  padding-top: 75px;
}
.main_comprar .clubdelcomic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/comprasback2.jpg);
}
.main_comprar .clubdelcomic h1, .main_comprar .clubdelcomic h2 {
  font-size: 30px;
  padding: 10px;
}
.main_comprar .clubdelcomic img {
  width: 300px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_comprar .clubdelcomic button {
  color: white;
}

/* -----COMIENZA EL FOOTER----- */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: gray;
  background-color: white;
}

.icons-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  font-size: 20px;
  list-style: none;
}

.icons-footer a {
  text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
  .main_general_about {
    background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.7) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/background.jpg);
  }
  .main_general_about .main_general_con {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 75px;
  }
  .main_general_about .main_general_con .main_about_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    text-align: left;
  }
  .main_general_about .main_general_con .main_about_left h1 {
    margin-right: 55px;
    font-size: 35px;
  }
  .main_general_about .main_general_con .main_about_left h2 {
    margin-left: 65px;
    font-size: 35px;
  }
  .main_general_about .main_general_con .main_about_left p {
    padding-top: 40px;
  }
  .main_general_about .main_general_con .main_about_rigth {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .main_general_about .main_general_con .main_about_rigth p {
    color: grey;
  }
  .center_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .section_con_rigthone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/redessociales.jpg);
    border-radius: 10px;
  }
  .section_con_rigthtwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/recursosdigitales.jpg);
    border-radius: 10px;
  }
}
@media screen and (min-width: 768px) {
  .logo img {
    margin-left: 0px;
    width: 40px;
    height: 40px;
  }
  .nav-titles {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 15px;
  }
  .main-principal h1 {
    padding-top: 100px;
    font-size: 45px;
  }
  .card-one {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    border-radius: 10px;
    background-image: url(../multimedia/arcoiris.jpg);
  }
  .card-one-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
  }
  .card-one-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
  }
  .main_general_about {
    background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.7) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/background.jpg);
  }
  .main_general_about .main_general_con {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 75px;
  }
  .main_general_about .main_general_con .main_about_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    padding: 10px;
    text-align: left;
  }
  .main_general_about .main_general_con .main_about_left h1 {
    margin-right: 55px;
    font-size: 35px;
  }
  .main_general_about .main_general_con .main_about_left h2 {
    margin-left: 65px;
    font-size: 35px;
  }
  .main_general_about .main_general_con .main_about_left p {
    padding-top: 40px;
  }
  .main_general_about .main_general_con .main_about_rigth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-top: 86px;
  }
  .main_general_about .main_general_con .main_about_rigth p {
    color: grey;
  }
  .guia_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    background-image: url(../multimedia/arcoiris.jpg);
  }
  .guia_box img {
    padding: 5px;
    height: 300px;
    border-radius: 10px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .guia_box div {
    text-align: center;
    padding: 10px;
  }
}
@media screen and (min-width: 992px) {
  .main-container {
    display: flex;
    justify-content: center;
    height: 550px;
    background-image: none;
  }
  .main-secundario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    height: 390px;
    width: 50%;
  }
  .main-secundario img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main_general_about {
    min-height: 50vw;
    background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.7) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/background.jpg);
  }
  .main_general_about .main_general_con {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 75px;
  }
  .main_general_about .main_general_con .main_about_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    padding: 10px;
    text-align: left;
  }
  .main_general_about .main_general_con .main_about_left h1 {
    margin-right: 55px;
    font-size: 35px;
  }
  .main_general_about .main_general_con .main_about_left h2 {
    margin-left: 65px;
    font-size: 35px;
  }
  .main_general_about .main_general_con .main_about_left p {
    padding-top: 40px;
  }
  .main_general_about .main_general_con .main_about_rigth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-top: 36px;
  }
  .main_general_about .main_general_con .main_about_rigth p {
    color: grey;
  }
  .main_section_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .main_section_con .section_con_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 390px;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/ubi.jpg);
    border-radius: 10px;
  }
  .main_section_con .section_con_rigth {
    padding: 0px;
  }
  .section_con_rigthone {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 190px;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/redessociales.jpg);
    border-radius: 10px;
  }
  .section_con_rigthtwo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 190px;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/recursosdigitales.jpg);
    border-radius: 10px;
  }
  .main_event_gen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    min-height: 50vw;
  }
  .main_event_gen .main_event_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
  }
  .main_event_gen h1 {
    padding: 10px;
  }
  .main_event_gen p {
    padding-top: 20px;
  }
  .main_event_gen img {
    padding: 10px;
    height: 280px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main_event_gen .buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
  }
  .main_event_gen .button-event {
    width: 45%;
    height: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 8px;
    border: 1px solid #C70C1D;
    background: linear-gradient(to right, rgba(199, 12, 29, 0.3) 1%, transparent 40%, transparent 60%, rgba(199, 12, 29, 0.3) 100%);
    color: white;
  }
  .main_event_gen .button-event:hover {
    box-shadow: inset 0 0 10px rgb(227, 39, 35), 0 0 9px 3px rgba(227, 39, 35, 0.7);
  }
  .main_comprar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vw;
    padding-top: 75px;
  }
  .main_comprar .clubdelcomic {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    height: 600px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(345deg, rgba(3, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%), url(../multimedia/comprasback2.jpg);
  }
  .main_comprar .clubdelcomic h1, .main_comprar .clubdelcomic h2 {
    font-size: 30px;
    padding: 10px;
  }
  .main_comprar .clubdelcomic img {
    width: 300px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main_comprar .clubdelcomic button {
    color: white;
  }
}/*# sourceMappingURL=style.css.map */