*   {
    box-sizing: border-box;
}

.nav-titles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-container  {
    height: 350px;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
}

.main-principal h1  {
    padding-top: 75px;
}

.main-secundario img {
    display: none;
}

.section-main   {
    background-color: aqua;
}

.section-main  h2 {
    padding: 10px;
    text-align: center;
    background-color: red;
}

.card-one {
    text-align: center;
    background-color: grey;
}

.about-main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-main h1 {
    padding-top: 75px;
}

.glassboard {
    padding-top: 30px;
}

.imgabout   {
    position: relative;
    top: 45px;
    width: 200px;
    height: 180px;
}